# Local .terraform directories
**/.terraform/*
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc
T_echnical_Documentation__College_Scorecard_Institution-Level_Da-job_16.pdf
data_infra/mysql-db/#ib_16384_0.dblwr
data_infra/mysql-db/#ib_16384_1.dblwr
data_infra/mysql-db/auto.cnf
data_infra/mysql-db/binlog.000001
data_infra/mysql-db/binlog.000002
data_infra/mysql-db/binlog.000003
data_infra/mysql-db/binlog.000004
data_infra/mysql-db/binlog.000005
data_infra/mysql-db/binlog.000006
data_infra/mysql-db/binlog.000007
data_infra/mysql-db/binlog.000008
data_infra/mysql-db/binlog.000009
data_infra/mysql-db/binlog.000010
data_infra/mysql-db/binlog.index
data_infra/mysql-db/ca-key.pem
data_infra/mysql-db/ca.pem
data_infra/mysql-db/client-cert.pem
data_infra/mysql-db/client-key.pem
data_infra/mysql-db/ib_buffer_pool
data_infra/mysql-db/ibdata1
data_infra/mysql-db/ibtmp1
data_infra/mysql-db/mysql.ibd
data_infra/mysql-db/mysql.sock
data_infra/mysql-db/private_key.pem
data_infra/mysql-db/public_key.pem
data_infra/mysql-db/server-cert.pem
data_infra/mysql-db/server-key.pem
data_infra/mysql-db/undo_001
data_infra/mysql-db/undo_002
data_infra/mysql-db/#innodb_redo/#ib_redo16
data_infra/mysql-db/#innodb_redo/#ib_redo17_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo18_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo19_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo20_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo21_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo22_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo23_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo24_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo25_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo26_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo27_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo28_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo29_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo30_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo31_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo32_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo33_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo34_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo35_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo36_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo37_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo38_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo39_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo40_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo41_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo42_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo43_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo44_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo45_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo46_tmp
data_infra/mysql-db/#innodb_redo/#ib_redo47_tmp
data_infra/mysql-db/#innodb_temp/temp_1.ibt
data_infra/mysql-db/#innodb_temp/temp_2.ibt
data_infra/mysql-db/#innodb_temp/temp_3.ibt
data_infra/mysql-db/#innodb_temp/temp_4.ibt
data_infra/mysql-db/#innodb_temp/temp_5.ibt
data_infra/mysql-db/#innodb_temp/temp_6.ibt
data_infra/mysql-db/#innodb_temp/temp_7.ibt
data_infra/mysql-db/#innodb_temp/temp_8.ibt
data_infra/mysql-db/#innodb_temp/temp_9.ibt
data_infra/mysql-db/#innodb_temp/temp_10.ibt
data_infra/mysql-db/mysql/general_log_215.sdi
data_infra/mysql-db/mysql/general_log.CSM
data_infra/mysql-db/mysql/general_log.CSV
data_infra/mysql-db/mysql/slow_log_216.sdi
data_infra/mysql-db/mysql/slow_log.CSM
data_infra/mysql-db/mysql/slow_log.CSV
data_infra/mysql-db/performance_schema/accounts_147.sdi
data_infra/mysql-db/performance_schema/binary_log_trans_191.sdi
data_infra/mysql-db/performance_schema/cond_instances_82.sdi
data_infra/mysql-db/performance_schema/data_lock_waits_163.sdi
data_infra/mysql-db/performance_schema/data_locks_162.sdi
data_infra/mysql-db/performance_schema/error_log_83.sdi
data_infra/mysql-db/performance_schema/events_errors_su_141.sdi
data_infra/mysql-db/performance_schema/events_errors_su_142.sdi
data_infra/mysql-db/performance_schema/events_errors_su_143.sdi
data_infra/mysql-db/performance_schema/events_errors_su_144.sdi
data_infra/mysql-db/performance_schema/events_errors_su_145.sdi
data_infra/mysql-db/performance_schema/events_stages_cu_113.sdi
data_infra/mysql-db/performance_schema/events_stages_hi_114.sdi
data_infra/mysql-db/performance_schema/events_stages_hi_115.sdi
data_infra/mysql-db/performance_schema/events_stages_su_116.sdi
data_infra/mysql-db/performance_schema/events_stages_su_117.sdi
data_infra/mysql-db/performance_schema/events_stages_su_118.sdi
data_infra/mysql-db/performance_schema/events_stages_su_119.sdi
data_infra/mysql-db/performance_schema/events_stages_su_120.sdi
data_infra/mysql-db/performance_schema/events_statement_121.sdi
data_infra/mysql-db/performance_schema/events_statement_122.sdi
data_infra/mysql-db/performance_schema/events_statement_123.sdi
data_infra/mysql-db/performance_schema/events_statement_124.sdi
data_infra/mysql-db/performance_schema/events_statement_125.sdi
data_infra/mysql-db/performance_schema/events_statement_126.sdi
data_infra/mysql-db/performance_schema/events_statement_127.sdi
data_infra/mysql-db/performance_schema/events_statement_128.sdi
data_infra/mysql-db/performance_schema/events_statement_129.sdi
data_infra/mysql-db/performance_schema/events_statement_130.sdi
data_infra/mysql-db/performance_schema/events_statement_131.sdi
data_infra/mysql-db/performance_schema/events_statement_132.sdi
data_infra/mysql-db/performance_schema/events_transacti_133.sdi
data_infra/mysql-db/performance_schema/events_transacti_134.sdi
data_infra/mysql-db/performance_schema/events_transacti_135.sdi
data_infra/mysql-db/performance_schema/events_transacti_136.sdi
data_infra/mysql-db/performance_schema/events_transacti_137.sdi
data_infra/mysql-db/performance_schema/events_transacti_138.sdi
data_infra/mysql-db/performance_schema/events_transacti_139.sdi
data_infra/mysql-db/performance_schema/events_transacti_140.sdi
data_infra/mysql-db/performance_schema/events_waits_cur_84.sdi
data_infra/mysql-db/performance_schema/events_waits_his_85.sdi
data_infra/mysql-db/performance_schema/events_waits_his_86.sdi
data_infra/mysql-db/performance_schema/events_waits_sum_87.sdi
data_infra/mysql-db/performance_schema/events_waits_sum_88.sdi
data_infra/mysql-db/performance_schema/events_waits_sum_89.sdi
data_infra/mysql-db/performance_schema/events_waits_sum_90.sdi
data_infra/mysql-db/performance_schema/events_waits_sum_91.sdi
data_infra/mysql-db/performance_schema/events_waits_sum_92.sdi
data_infra/mysql-db/performance_schema/file_instances_93.sdi
data_infra/mysql-db/performance_schema/file_summary_by__94.sdi
data_infra/mysql-db/performance_schema/file_summary_by__95.sdi
data_infra/mysql-db/performance_schema/global_status_183.sdi
data_infra/mysql-db/performance_schema/global_variables_186.sdi
data_infra/mysql-db/performance_schema/host_cache_96.sdi
data_infra/mysql-db/performance_schema/hosts_148.sdi
data_infra/mysql-db/performance_schema/keyring_componen_193.sdi
data_infra/mysql-db/performance_schema/keyring_keys_154.sdi
data_infra/mysql-db/performance_schema/log_status_176.sdi
data_infra/mysql-db/performance_schema/memory_summary_b_156.sdi
data_infra/mysql-db/performance_schema/memory_summary_b_157.sdi
data_infra/mysql-db/performance_schema/memory_summary_b_158.sdi
data_infra/mysql-db/performance_schema/memory_summary_b_159.sdi
data_infra/mysql-db/performance_schema/memory_summary_g_155.sdi
data_infra/mysql-db/performance_schema/metadata_locks_161.sdi
data_infra/mysql-db/performance_schema/mutex_instances_97.sdi
data_infra/mysql-db/performance_schema/objects_summary__98.sdi
data_infra/mysql-db/performance_schema/performance_time_99.sdi
data_infra/mysql-db/performance_schema/persisted_variab_189.sdi
data_infra/mysql-db/performance_schema/prepared_stateme_177.sdi
data_infra/mysql-db/performance_schema/processlist_100.sdi
data_infra/mysql-db/performance_schema/replication_appl_167.sdi
data_infra/mysql-db/performance_schema/replication_appl_168.sdi
data_infra/mysql-db/performance_schema/replication_appl_169.sdi
data_infra/mysql-db/performance_schema/replication_appl_170.sdi
data_infra/mysql-db/performance_schema/replication_appl_172.sdi
data_infra/mysql-db/performance_schema/replication_appl_173.sdi
data_infra/mysql-db/performance_schema/replication_asyn_174.sdi
data_infra/mysql-db/performance_schema/replication_asyn_175.sdi
data_infra/mysql-db/performance_schema/replication_conn_164.sdi
data_infra/mysql-db/performance_schema/replication_conn_166.sdi
data_infra/mysql-db/performance_schema/replication_grou_165.sdi
data_infra/mysql-db/performance_schema/replication_grou_171.sdi
data_infra/mysql-db/performance_schema/rwlock_instances_101.sdi
data_infra/mysql-db/performance_schema/session_account__153.sdi
data_infra/mysql-db/performance_schema/session_connect__152.sdi
data_infra/mysql-db/performance_schema/session_status_184.sdi
data_infra/mysql-db/performance_schema/session_variable_187.sdi
data_infra/mysql-db/performance_schema/setup_actors_102.sdi
data_infra/mysql-db/performance_schema/setup_consumers_103.sdi
data_infra/mysql-db/performance_schema/setup_instrument_104.sdi
data_infra/mysql-db/performance_schema/setup_meters_105.sdi
data_infra/mysql-db/performance_schema/setup_metrics_106.sdi
data_infra/mysql-db/performance_schema/setup_objects_107.sdi
data_infra/mysql-db/performance_schema/setup_threads_108.sdi
data_infra/mysql-db/performance_schema/socket_instances_149.sdi
data_infra/mysql-db/performance_schema/socket_summary_b_150.sdi
data_infra/mysql-db/performance_schema/socket_summary_b_151.sdi
data_infra/mysql-db/performance_schema/status_by_accoun_179.sdi
data_infra/mysql-db/performance_schema/status_by_host_180.sdi
data_infra/mysql-db/performance_schema/status_by_thread_181.sdi
data_infra/mysql-db/performance_schema/status_by_user_182.sdi
data_infra/mysql-db/performance_schema/table_handles_160.sdi
data_infra/mysql-db/performance_schema/table_io_waits_s_109.sdi
data_infra/mysql-db/performance_schema/table_io_waits_s_110.sdi
data_infra/mysql-db/performance_schema/table_lock_waits_111.sdi
data_infra/mysql-db/performance_schema/threads_112.sdi
data_infra/mysql-db/performance_schema/tls_channel_stat_192.sdi
data_infra/mysql-db/performance_schema/user_defined_fun_190.sdi
data_infra/mysql-db/performance_schema/user_variables_b_178.sdi
data_infra/mysql-db/performance_schema/users_146.sdi
data_infra/mysql-db/performance_schema/variables_by_thr_185.sdi
data_infra/mysql-db/performance_schema/variables_info_188.sdi
data_infra/mysql-db/sys/sys_config.ibd
data_infra/mysql-db/zoomcamp2024_project/citi@002dbike@002dtrip.ibd
mage_data/magic-zoomcamp/.cache/block_action_objects_mapping
mage_data/magic-zoomcamp/.cache/blocks_to_pipeline_mapping
mage_data/magic-zoomcamp/.cache/pipeline_details_mapping
mage_data/magic-zoomcamp/.cache/tags_to_object_mapping
mage_data/magic-zoomcamp/.operation_history/2024-03-26
mage_data/magic-zoomcamp/mage-ai.db
magic-zoomcamp/__init__.py
magic-zoomcamp/.gitignore
magic-zoomcamp/io_config.yaml
magic-zoomcamp/metadata.yaml
magic-zoomcamp/requirements.txt
magic-zoomcamp/.ssh_tunnel/aws_emr.json
magic-zoomcamp/charts/__init__.py
magic-zoomcamp/custom/__init__.py
magic-zoomcamp/data_exporters/__init__.py
magic-zoomcamp/data_exporters/export_titanic_clean.py
magic-zoomcamp/data_loaders/__init__.py
magic-zoomcamp/data_loaders/aged_spell.py
magic-zoomcamp/data_loaders/dowlnload_files.py
magic-zoomcamp/data_loaders/load_titanic.py
magic-zoomcamp/dbt/profiles.yml
magic-zoomcamp/extensions/__init__.py
magic-zoomcamp/interactions/__init__.py
magic-zoomcamp/pipelines/__init__.py
magic-zoomcamp/pipelines/example_pipeline/__init__.py
magic-zoomcamp/pipelines/example_pipeline/metadata.yaml
magic-zoomcamp/pipelines/ingesta_data_test/__init__.py
magic-zoomcamp/pipelines/ingesta_data_test/metadata.yaml
magic-zoomcamp/scratchpads/__init__.py
magic-zoomcamp/transformers/__init__.py
magic-zoomcamp/transformers/delete_zip.py
magic-zoomcamp/transformers/fill_in_missing_values.py
magic-zoomcamp/transformers/generate_dataframe.py
magic-zoomcamp/transformers/unzip_files.py
magic-zoomcamp/utils/__init__.py

#manually added
.env
*.csv
keys/google_creds.json
data_infra/mysql-db/*
explore/data/parquet/list_year=2001/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2002/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2003/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2004/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2005/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2006/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2007/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2008/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2009/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2010/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2011/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2012/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2013/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2014/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2015/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2016/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2017/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2018/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2019/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2020/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
explore/data/parquet/list_year=2021/cd6e952fa64a4f30bcfc82d7a8b28612-0.parquet
outros/docker-compose copy.yml
outros/Dockerfile
outros/main copy.tf
outros/variable copy.tf
anotations.txt
